@media (max-width: 500px) {
    .component .component-title,
    .component .thanks-title {
        font-size: 2.9rem;
        margin-bottom: 15px;
    }

    .component .component-text,
    .component .thanks-text {
        font-size: 1.7rem;
    }
}

@media (min-width: 1800px) {
    .container .component {
        width: 550px;
        border-radius: 35px;
        padding: 45px;
    }

    .component .star {
        margin-bottom: 45px;
        scale: 1.5;
    }

    .component .component-title,
    .component .thanks-title {
        font-size: 3.5rem;
        margin-bottom: 20px;
    }

    .component .component-text,
    .component .thanks-text {
        font-size: 2.3rem;
        margin-bottom: 30px;
    }

    .component .feedback {
        margin-bottom: 50px;
    }

    .feedback .rating {
        height: 55px;
        width: 65px;
    }

    .feedback .rating a {
        padding: 21px 25px;
        font-size: 2rem;
    }

    .component .btn-submit {
        border-radius: 30px;
        padding: 15px 0;
        letter-spacing: 1.7px;
        font-size: 2.2rem;
    }

    .component:last-child {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .component .thanks-img {
        scale: 1.2;
        margin-bottom: 45px;
    }

    .component .thanks-rate {
        margin-bottom: 40px;
        border-radius: 30px;
        padding: 12px 25px;
        font-size: 2.5rem;
    }
}
